# Ignore Folder 
prerelease
thumbnail
scheduled 
videos 
.vscode 
49-gazebo-tutorial/gazebo_tutorial/meshes
49-gazebo-tutorial/gazebo_tutorial_py
49-gazebo-tutorial/models

# Ignore Files 
thumbnail.png
timestamps.txt
README_KW.md 
tags.txt 
demo.py 
README_KW.md 

# Ignore File Types 
*.mkv 
*.gslides
*.pdf 
*.pptx 
*.mp4 
